body {
    background: url(https://xmple.com/wallpaper/blue-gradient-pink-linear-2560x1440-c2-ffb6c1-87ceeb-a-285-f-14.svg);
    height: 100vh;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-box {
    border: 1px solid white;
    padding: 100px;
    border-radius: 1rem;
    background-color: rgba(240, 255, 255, 0.279);
    margin-bottom: 80px;
}