@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #333;
    background: linear-gradient(to bottom, #f3791c, #71ccca);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

button {
    color: #333;
    font-weight: 300;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: block;
}

button:hover {
    font-weight: 500;
}

footer {
    color: rgba(0, 0, 0, 0.5);
    align-self: center;
}

.whole {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 0;
    position: relative;
    margin: 2rem 1rem 2rem 1rem;
}

.reset-btn {
    align-self: flex-end;
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.reset-img {
    height: 60px;
    padding: 10px;
    filter: invert(15%) sepia(5%) saturate(41%) hue-rotate(353deg) brightness(98%) contrast(86%);
}

.wrapper {
    display: flex;
}

.wrapper-left,
.wrapper-right {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: inherit;
    padding: 50px;
}

.wrapper-left {
    flex: 2;
    border-radius: 1.5rem 0 0 1.5rem;
    border-right: none;
}

.wrapper-right {
    flex: 1;
    border-radius: 0 1.5rem 1.5rem 0;
}



/********** WeatherBox ***********/

.weatherBox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ec6e4c;
}

.main-temp {
    font-size: 8rem;
}

.main-temp-num {
    position: relative;
}

.main-temp-unit {
    font-size: 4rem;
    position: absolute;
    right: -25px;
    top: 15px;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.city-name {
    font-size: 2rem;
    font-weight: 500;
    margin: 2px 0;
}


/********** Details ***********/

.right-titles {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.details-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}



/********** Locations ***********/

.second {
    margin-top: 30px;
}

.locations-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locations-name {
    margin-bottom: 7px;
}

.default-btn,
.active-btn {
    display: inline;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 7px;
}

.active-btn {
    border: 1px solid #ec6e4c;
    background-color: #ec6e4c;
}

.active-txt {
    color: #ec6e4c;
    font-weight: 500;
}



/* API Call Error Handling */
.error-message {
    color: #ff4c4c;
    background-color: #ffe6e6;
    border: 1px solid #ff4c4c;
    padding: 10px;
    margin: 20px 0;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
}



@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .wrapper-left,
    .wrapper-right {
        padding: 2rem;
    }

    .wrapper-left {
        border-radius: 1.5rem 1.5rem 0 0;
        border-bottom: none;
    }

    .wrapper-right {
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

@media (max-width: 573px) {
    body {
        background: linear-gradient(to bottom, #ec7c28, #7fc1c0);
        position: relative;
    }

    body::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
    }

    footer {
        font-size: 0.85rem;
        color: rgba(0, 0, 0, 0.3);
    }

    .reset-btn {
        display: none;
    }

    .wrapper-left,
    .wrapper-right {
        padding: 1rem;
        background-color: transparent;
        border: none;
    }

    .wrapper-left {
        margin-bottom: 1rem;
    }

    .reset-btn {
        background-color: transparent;
        border: none;
    }

    .title {
        color: #ec6e4c;
    }
}